<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Formulario quehacer </title>
        <link rel="stylesheet" href="{{ url_for('static', filename = '/css/index.css') }}">
    </head>
    <body>
        <h1>
            Estas conectado como: {{session['nombre']}} {{session['apellido']}}
        </h1>
        <h1>
            Agregar nuevo quehacer
        </h1>
        <form method="POST" action="/nuevo/quehacer">
            <div>
                <label for="descripcion">
                    Descripcion
                </label>
                <input type="text" id="descripcion" name="descripcion">
            </div>
            <div>
                <input id="id_usuario" type="hidden" name="id_usuario" value="1" >
            </div>
            <div>
                <label for="estatus">
                    Estatus
                </label>
                <select id="estatus" name="estatus">
                    <option value="completo"> Completo </option>
                    <option value="en_proceso"> En proceso </option>
                    <option value="pendiente"> Pendiente </option>
                    <option value="cancelado"> Cancelado </option>
                </select>
            </div>
            <button type="submit">
                Agregar nuevo quehacer
            </button>
        </form>
        <form action="/logout" method="POST">
            <button type="submit">
                Logout
            </button>
        </form>
    </body>
</html>