<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for( 'static', filename='/css/dojos.css' ) }}" >
        <title> Dojos </title>
    </head>
    <body>
        <div class="contenedor_principal">
            <div class="seccion_izquierda">
                <h1> Nuevo Dojo </h1>
                <form method="POST" action="/nuevo/dojo">
                    <div>
                        <label for="nombre">
                            Nombre:
                        </label>
                        <input id="nombre" name="nombre" >
                    </div>
                    <button type="submit">
                        Crear
                    </button>
                </form>
            </div>
            <div class="seccion_derecha">
                <h1>
                    Todos los dojos
                </h1>
                <div class="dojos">
                    {% for dojo in lista_dojos: %}
                    <p>
                        <a href="/dojo/{{dojo.id}}"> {{dojo.nombre}} </a>
                    </p>
                    {% endfor %}
                </div>
                <div>
                    <a href="/formulario/ninja"> Agregar Ninja </a>
                </div>
            </div>
        </div>
    </body>
</html>