<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Vista renderizada con Flask </title>
        <link rel="stylesheet" href="{{ url_for('static', filename = '/css/index.css') }}">
    </head>
    <body>
        <h1>
            Bienvenido de vuelta {{nombre}} {{apellido}}
        </h1>
        <h1>
            Esta es nuestra primer vista con Flask
        </h1>
        <p>
            En un momento mas agregaremos CSS
        </p>
        <ul>
            {% for item in quehaceres: %}
                {% if item["estatus"] == "Completo": %}
                    <li class="quehacer"> 
                        {{item["descripcion"]}} - {{item["estatus"]}}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <img src="{{ url_for('static', filename = '/img/gato.png') }}" alt="Imagen de un gato">
        <script src="{{ url_for('static', filename = '/js/index.js') }}"> </script>
    </body>
</html>